<div class="card">
  <h5>Editar artigo</h5>

  <div class="field">
    <label
      for="titulo"
    >
      Título
    </label>
    <input
      pInputText
      [formControl]="titulo"
      autofocus
      id="titulo"
      type="text"
      placeholder="Ex.: blogs de gatinhos fofinhos"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
    <small>
      Título do artigo, que aparecerá na lista de artigos.
    </small>
  </div>

  <div class="field">
    <label
      for="descricao"
    >
      Descrição
    </label>
    <input
      pInputText
      [formControl]="descricao"
      id="descricao"
      type="text"
      placeholder="Ex.: lista de blogs com temática pet, com fotos de bichinhos"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
    <small>
      Frase descritiva do artigo.
    </small>
  </div>

  <div class="field">
    <label
      for="url-imagem"
    >
      URL da imagem
    </label>
    <input
      pInputText
      [formControl]="urlImagem"
      id="url-imagem"
      type="text"
      placeholder="Ex.: http://gatinhosfofis.net/gatinho2.jpg"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
    <small>
      Endereço da imagem que será carregada na lista de artigos.
    </small>
  </div>

  <div class="field">
    <label
      for="url-artigo"
    >
      URL do artigo
    </label>
    <input
      pInputText
      [formControl]="urlArtigo"
      id="url-artigo"
      type="text"
      placeholder="Ex.: http://gatinhosfofis.net/artigos/2020/5/12.html"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
    <small>
      Endereço para acesso ao artigo completo.
    </small>
  </div>

  <button
    pButton
    icon="pi pi-save"
    label="Salvar"
    type="button"
    [disabled]="formGroup.invalid"
    (click)="enviarForm(formGroup.value)"
  >
  </button>

</div>
