<a
  *ngFor="let artigo of (artigos$ | async)"
  href="{{ artigo.url }}"
  target="_blank"
  rel="noreferrer"
>
  <p-card
    [header]="artigo.titulo"
    [subheader]="artigo.descricao"
    [style]="{width: '100%', height: '100%', display: 'block'}"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img
        alt="{{ artigo.descricao }}"
        src="{{ artigo.imagem }}"
      />
    </ng-template>
    <ng-template pTemplate="footer">
      <a
        pButton
        label="Acessar"
        class="p-button-outlined p-button-secondary"
        icon="pi pi-eye"
      >
      </a>
      <button
        pButton
        (click)="editar(artigo, $event)"
        label="Editar"
        class="p-button-primary"
        icon="pi pi-pencil"
      >
      </button>
    </ng-template>
  </p-card>
</a>
